body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

#workouts {
  border: 1px solid black;
  margin: 20px;
}

.workout {
  border: 1px solid gray;
  padding: 10px;
}

.workout-title {
  font-weight: bold;
}

.workout-date {
  float: right;
}

.workout-details {
  margin-top: 10px;
}

.workout-weight {
  float: left;
}

.workout-sets {
  float: right;
}
body {
  background-color: lightblue;
}

